.header {
  padding: 1rem 0;
}

.header__link-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__link {
  color: $secondary;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    text-decoration: underline;
  }

  &--main {
    font-family: "LatoBold";
    font-size: 1.5rem;
  }
}

.header__link-list {
  @include resetList();

  display: flex;
  gap: 1rem;
}
