.homepage {
  margin-top: 20px;

  @include md {
    height: 75dvh;
    display: flex;
    align-items: center;
  }
}

.homepage__content {
  @include md {
    display: flex;
    gap: 2rem;
  }
}

.homepage__image-container {
  border: 1px solid $primary;
  @include md {
    flex: 1 auto;
  }
}

.homepage__title {
  position: relative;
  color: $primary;

  @include md {
    &::before {
      content: "";
      position: absolute;
      left: -2rem;
      top: 50%;
      height: 1px;
      width: 1.5rem;
      background-color: $primary;
    }
  }
}

.homepage__image {
  padding: 1rem;
}

.homepage__text-container {
  margin-top: 1rem;

  @include md {
    margin-top: 0;
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
