.projects-page {
  margin-top: 2rem;

  @include md {
    height: 75dvh;
  }
}

.projects-page__title {
  position: relative;
  margin-bottom: 2rem;
  text-align: center;
}

.projects-page__list {
  @include resetList;

  @include md {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.projects-page__list-item {
  margin-bottom: 1rem;
  width: 100%;

  @include md {
    margin-bottom: 0;
  }
}
