.projects-page {
  margin-top: 2rem;

  @include md {
    height: 75dvh;
  }
}

.projects-page__title {
  position: relative;
  margin-bottom: 2rem;
  text-align: center;
}

.projects-page__list {
  @include resetList;

  @include md {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 2rem;
  }
}

.projects-page__list-item {
  margin-bottom: 1rem;

  @include md {
    width: 48%;
    margin-bottom: 0;
  }
}

.projects-page__project-card {
  @include cleanBtn;

  position: relative;
  min-height: 200px;
  padding: 10px;
  border: 1px solid transparent;
  background-color: #313d4e;
  border-radius: 2px;
  transition: transform 0.1s linear;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;

  @include sm {
    display: flex;
    gap: 1rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    border-radius: 2px;
    z-index: -1;
  }

  &:hover,
  &:focus-visible {
    &::before {
      background: linear-gradient(
        45deg,
        $primary,
        $white,
        $secondary,
        $white,
        $primary
      );
      background-size: 400%;
      animation: steam 20s linear infinite;
    }
  }
}

.projects-page__project-img-container {
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  background-color: $white;
  outline-offset: 2px;
  border-radius: 2px;

  @include sm {
    max-width: 30%;
  }
}

.projects-page__project-content {
  text-align: left;
  color: $white;
}

.projects-page__project-client {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 4px;
    width: 0%;
    background-color: transparent;
    transition: width 0.1s ease-in;
  }

  .projects-page__project-card:hover &,
  .projects-page__project-card:focus-visible & {
    &::after {
      background-color: $primary;
      width: 80%;
    }
  }
}

.projects-page__project-text {
  text-align: left;
}

.projects-page__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1200px;
  padding: 1.5rem;
  border: 2px solid $primary;
  background-color: $secondary;
}

.projects-page__modal-content {
  position: relative;
}

.projects-page__modal-btn {
  margin-top: 1rem;
  margin-bottom: 0;
}

.projects-page__close-modal-btn {
  @include cleanBtn;

  position: absolute;
  right: -10px;
  top: -10px;
}

.projects-page__modal-svg {
  height: 20px;
  width: 20px;
  fill: $primary;

  .projects-page__close-modal-btn:hover & {
    fill: $white;
  }

  .projects-page__close-modal-btn:focus-visible & {
    fill: $white;
    outline: 2px solid $primary;
  }
}
