/*
 *
 * Visually hidden
 *
 */
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  user-select: none;

  &.focusable:active,
  &.focusable:focus-visible {
    position: static;
    overflow: visible;
    clip: auto;
    margin: 0;
    width: auto;
    height: auto;
  }

  &.skip-link:focus-visible {
    position: fixed;
    z-index: 9999;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.5em 3em;
    text-align: center;
    color: #fff;
    background: #0079b6;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    clip: unset;
    width: 100%;
    height: auto;
  }
}

/*
   *
   * Screen reader only
   *
   */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus-visible {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
