/*
 *
 * Base colors
 *
 */
$white: #fff;
$black: #000;
$blue: #0066b2;
$red: #d92827;
$grey-1: #f9f9f9;
$grey-2: #f1f1f1;
$grey-3: #d4d4d4;
$grey-4: #ccc;
$grey-5: #333;
$grey-6: #dfdada;
$grey-7: #ddd8d8;
$grey-8: #f9f6f6;
$taupe: #635e57;

$primary: #66fcf1;
$secondary: #1f2833;
$link-hover: #45a29e;
$warning: #e76f6f;
$hamburger-menu-bg: #2b3945;
