@font-face {
  font-family: "LatoRegular";
  src: url("/src/assets/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LatoBold";
  src: url("/src/assets/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
