/*
 *
 * Header
 *
 */
.header {
  padding: 1rem 0;
}

.header__link-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include md {
    align-items: last baseline;
  }
}

.header__main-link {
  max-width: 170px;
}

.header__link-list {
  @include resetList();

  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;

  @include md {
    margin-top: 0;
  }
}

.header__link {
  position: relative;
  color: $white;
  text-decoration: none;
  font-size: 1.5rem;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s linear;

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 4px;
    width: 0%;
    background-color: transparent;
    transition: width 0.1s ease-in;
  }

  &:hover,
  &:focus-visible {
    color: $primary;

    &::after {
      background-color: $primary;
      width: 100%;
    }
  }

  &--main {
    color: $primary;
    font-family: "LatoBlack";
    font-size: 2rem;
    text-decoration: none;
    line-height: 1;

    &:hover,
    &:focus-visible {
      color: $white;
    }
  }

  &--active {
    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      height: 4px;
      width: 100%;
      background-color: $primary;
    }
  }
}

.header__links {
  display: none;

  @include md {
    display: block;
  }
}

.header__hamburger-menu-btn {
  @include cleanBtn;

  svg {
    fill: $primary;
  }

  &:focus-visible {
    outline: 1px solid #e59700;
    border: 1px solid $white;
  }

  @include md {
    display: none;
  }
}

.header__hamburger-menu {
  width: 100%;
  transform: translate(-12px, 30px);
  background-color: $hamburger-menu-bg;
  color: $white;

  @include md {
    display: none;
  }
}

.header__hamburger-link {
  font-weight: bold;
  padding: 20px;
  font-size: 20px;

  &:hover,
  &:focus-visible {
    background-color: $primary;
    color: $secondary;
  }
}

/*
 *
 * Body
 *
 */

.body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
  background-color: $secondary;
  color: $white;
}

/*
 *
 * Main
 *
 */

.main {
  display: block;
  flex: 1;
  margin: 0;
  position: relative;
}

/*
 *
 * Footer
 *
 */

.footer {
  padding: 1rem 0;
}

.footer__list {
  @include resetList();
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer__link {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
